.sacoleira {
    display: flex;
    align-items: center;
    gap: 5em;
    padding: 10px 20px;
    border-radius: 5px;
    width: max-content;
    border-bottom: 1px solid rgba(137, 43, 226, 0.3);
}

.sacoleiraIndice {
    font-weight: bold;
}

.sacoleiraImage {
    width: 60px;
    border-radius: 20px;
    height: 60px;
}

.sacoleiraName {
    width: 250px;
    text-transform: capitalize;
    font-size: 15px;
}

.sacoleiraAvaliacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 60px;
    font-size: 14px;
}

.sacoleiraAvaliacao i {
    color: gold;
}
