.header {
    margin-bottom: 100px;
}

.products {
    width: 80%;
    margin: 0 auto 100px auto;
}

@media(max-width: 450px) {
    .products {
        width: 95%;
        margin: 0 auto 100px auto;
    }
}

.formSearchProduct {
    margin-bottom: 50px;
    position: relative;
}

.formSearchProduct input {
    padding: 6px 12px;
    color: rgba(0, 0, 0, .7);
    width: 500px;
    border-radius: 3px;
    font-size: 14px;
    background-color: rgba(47, 118, 160, 0.05);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    transition: .2s all ease-in;
}

.formSearchProduct input:hover {
    box-shadow: 0px 0px 3px 1px rgba(47, 118, 160, 0.6);
}

.formSearchProduct i {
    position: absolute;
    left: 472px;
    top: 9px;
    color: rgba(0, 0, 0, 0.438);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 20px;
    justify-content: center;
}

@media(max-width: 900px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 650px) {
    .formSearchProduct input {
        width: 300px;
    }

    .formSearchProduct i {
        left: 270px;
    }
}

@media(max-width: 380px) {
    .formSearchProduct input {
        width: 260px;
    }

    .formSearchProduct i {
        left: 230px;
    }
}