.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7em;
    margin: 0 auto;
}

.banner {
    padding: 40px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3em;
    justify-content: space-evenly;
    background-color: rgba(63, 43, 83, .1);
}

.bannerText {
    width: 600px;
    text-align: center;
    line-height: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.bannerText h1 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.4em;
}

.bannerText a {
    background-color: rgb(63, 43, 83);
    width: max-content;
    padding: 0px 15px;
    border-radius: 2px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    transition: .3s all ease-in;
    cursor: pointer;
}

.bannerText a:hover {
    background-color: rgba(63, 43, 83, 0.8);
}

.bannerImage {
    width: 300px;
    height: 400px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    width: 800px;
}

.about h1 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid rgba(103, 60, 145, 0.4);
    color: rgb(115, 36, 189);
}

.about p {
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.9);
}

@media(max-width: 700px) {
    .banner {
        flex-direction: column;
    }

    .bannerText {
        width: 100%;
    }

    .bannerText h1 {
        font-size: 1.2em;
    }
}

@media(max-width: 800px) {
    .about {
        padding: 0 20px;
        width: 100%; 
    }
}