.main {
    margin: 0 auto;
    width: 90%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10em;
}

.section {
    height: 70vh;
    background-image: url("../img/revenda-de-produtos.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.section_div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    word-break: break-all;
    border-radius: 10px;
    margin: 110px auto 0 auto;
}

.section_title {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.section_p {
    text-align: center;
    color: whitesmoke;
    /* font-weight: bold; */
    font-size: 1.2em;
    margin-top: 3px;
} 

.section_button {
    width: 120px;
    font-weight: bold;
    margin-top: 15px;
    background-color: #5c168d;
    border: 1px solid #8b50b4;
    color: whitesmoke;
    padding: 7px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
} 
