.register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formRegister {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    width: max-content;
    padding: 20px 10px;
    border-radius: 3px;
    background-color: whitesmoke;
    margin: 0 10px;
}

.formRegister h2 {
    color: rgb(67, 161, 199);
    margin: 0 auto;
    margin-bottom: 20px;
}

.formRegister div.fullname {
    display: flex;
    gap: .5em;
}

.formRegister div.iconInput {
    position: relative;
}

div.iconInput i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgba(0, 0, 0, 0.7);
}

.formRegister input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 10px 10px 32px; 
    border-radius: 2px;
    width: 100%;
    background-color: white;
    transition: .3s all ease;
}

.formRegister input:hover {
    box-shadow: 0px 0px 1px 1px rgba(88, 88, 180, 0.623);
}

.formRegister button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    width: max-content;
    margin: 0 auto;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s all ease;
}

.formRegister button:hover {
    background-color: rgba(0, 128, 0, 0.85);
}

.formRegister span {
    margin: 0 auto;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.formRegister a {
    color: rgb(77, 77, 209);
    cursor: pointer;
    transition: .2s all ease;
}

.formRegister a:hover {
    color: rgb(115, 115, 233);
    text-decoration: underline;
}

/* .mainRegister {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formRegister {
    padding: 20px;
}

.fullNameForm {
    display: flex;
    gap: 1em;
}

.labelForm {
    font-size: 14px;
    color: rgba(0, 0, 0, .8);
}

.inputForm {
    display: block;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 10px 10px 10px 34px;
    width: 100%;
    border-radius: 3px;
    margin: 3px 0 16px 0;
    transition: all .2s ease-in;
}

.inputForm:hover {
    border: 1px solid rgba(0, 0, 0, .5);
}

.iconInput {
    position: relative;    
}

.icon {
    position: absolute;
    top: 28px;
    left: 7px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8);
}


.submitDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
}

.buttonForm {
    background-color: green;
    border-radius: 3px;
    color: white;
    padding: 8px 10px;
    font-weight: bold;
    cursor: pointer;
}

.small {
    font-size: 14px;
}

@media(max-width: 420px) {
    .fullNameForm {
        flex-direction: column;
        gap: 0;
    }

    .submitDiv {
        flex-direction: column;
        gap: 1em;
    }
} */
