.mainRegister {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formRegister {
    padding: 20px;
}

.fullNameForm {
    display: flex;
    gap: 1em;
}

.labelForm {
    font-size: 14px;
    color: rgba(0, 0, 0, .8);
}

.inputForm {
    display: block;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 10px 10px 10px 34px;
    width: 100%;
    border-radius: 3px;
    margin: 3px 0 16px 0;
    transition: all .2s ease-in;
}

.inputForm:hover {
    border: 1px solid rgba(0, 0, 0, .5);
}

.iconInput {
    position: relative;    
}

.icon {
    position: absolute;
    top: 28px;
    left: 7px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8);
}


.submitDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
}

.buttonForm {
    background-color: green;
    border-radius: 3px;
    color: white;
    padding: 8px 10px;
    font-weight: bold;
    cursor: pointer;
}

.small {
    font-size: 14px;
}

@media(max-width: 420px) {
    .fullNameForm {
        flex-direction: column;
        gap: 0;
    }

    .submitDiv {
        flex-direction: column;
        gap: 1em;
    }
}
