.register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formRegister {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    width: 450px;
    padding: 20px;
    border-radius: 3px;
    background-color: whitesmoke;
    margin: 0 10px;
}

.formRegister h2 {
    color: rgb(56, 128, 156);
    margin-bottom: 10px;
    font-weight: bold;
}

.formRegister div.fullname {
    display: flex;
    gap: .5em;
}

.formRegister div.iconInput {
    position: relative;
}

.iconError {
    color: rgba(255, 0, 0, 0.699);
}

.iconColor {
    color: rgba(0, 0, 0, 0.7);
}

div.iconInput i {
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 12px;
    color: rgba(0, 0, 0, 0.6);
}

div.iconInput:hover i.iconColor {
    color: rgba(0, 47, 255, 0.712) !important;
    transition: .8s all ease;
}

.inputForm, .inputFormError {
    font-size: 12px;
    padding: 8px 12px 8px 33px; 
    border-radius: 2px;
    width: 100%;
    background-color: white;
    transition: .8s all ease;
}

.inputForm {
    box-shadow: 0px 0px 1px 1px rgba(88, 88, 180, 0.2);
}

.inputForm:hover {
    box-shadow: 0px 0px 4px 1px rgb(58, 58, 163);
}

.inputFormError {
    box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 0.6);
}

.inputFormError:hover {
    box-shadow: 0px 0px 4px 1px red;
}

.listErrors {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 5px;
}

.listErrors li {
    font-size: 13px;
    color: red;
}

.formRegister button {
    font-size: 14px;
    background-color: green;
    color: white;
    padding: 4px 20px;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    transition: .3s all ease;
}

.formRegister button:hover {
    background-color: rgba(0, 128, 0, 0.85);
}

.formRegister span {
    margin: 0 auto;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.formRegister a {
    color: rgb(69, 69, 156);
    cursor: pointer;
    transition: .4s all ease;
}

.formRegister a:hover {
    color: rgb(115, 115, 233);
}

@media(max-width: 300px) {
    .formRegister {
        padding: 10px;
    }
}