.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 60px;
    background-color: rgb(63, 43, 83);
    color: white;
}

.logo {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.logo::after { 
    content: '';
    position: absolute;
    top: 15px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background-color: #1465bb;
    margin-left: 98px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menuItem {
    font-size: 12px;
    padding: 3px 10px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    transition: .2s all ease-in;
}

.user {
    font-size: 16px;
    padding: 3px 10px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    transition: .2s all ease-in;
    position: relative;
}

.user:hover {
    background-color: #1465bb;
}

.modalProfile {
    width: 200px;
    height: 200px;
    opacity: 0;
    background-color: rgb(144, 94, 190);
    position: absolute;
    right: -20px;
    top: 30px;
    border-radius: 3px;
}

.menuItem:hover {
    background-color: #1465bb;
}

.menuOpen {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btnButton {
    display: none;
} 
 
@media(max-width: 600px) {
    .header {
        padding: 10px 30px;
    }

    .menu {
        display: none;
    }

    .menuOpen {
        height: 100vh;
        flex-direction: column;
        align-items: center;
        padding-top: 80px !important;
        position: absolute;
        width: 100%;
        right: 0;
        padding: 10px 0 20px 0;
        z-index: 1000;
        background-color: rgb(63, 43, 83);
    }

    .menuItem {
        border-bottom: 1px solid #1465bb;
    }

    .user {
        border-bottom: 1px solid #1465bb;
    }

    .modalProfile {
        width: 200px;
        height: 200px;
        background-color: blueviolet;
        position: absolute;
        right: -80px;
        top: 30px;
        border-radius: 3px;
    }

    .btnButton {
        color: whitesmoke;
        display: block;
        border-top: 2px solid;
        width: 20px;
    }

    .btnButton::after, .btnButton::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
    }
}
