.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 60px;
    background-color: rgb(63, 43, 83);
    color: white;
}

.logo {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.logo::after { 
    content: '';
    position: absolute;
    top: 15px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background-color: #1465bb;
    margin-left: 98px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menuItem {
    font-size: 12px;
    padding: 3px 10px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    transition: .2s all ease-in;
}

.ItemUser {
    position: relative;
}

#faUser {
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 2px;
    transition: .2s all ease-in;
    cursor: pointer;
}

#faUser:hover {
    background-color: #1465bb;
}

.modalProfile {
    width: 200px;
    height: max-content;
    display: flex;
    gap: 1em;
    padding: 10px;
    background-color: rgb(93, 52, 117);
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    right: -20px;
    top: 35px;
    border-radius: 3px;
}

.profileTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.profileLinks {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 5px;
    border: 5px;
}

.profileLinks a {
    text-transform: capitalize;
    font-size: 12px;
    border-radius: 3px;
    text-align: center;
    line-height: 14px;
    background-color: white;
    padding: 2px 5px;
    color: blueviolet;
    font-weight: bold;
}

.profileImage {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.profileName {
    text-transform: capitalize;
    color: whitesmoke;
    font-weight: bold;
    font-size: 14px;
}

.buttonLogout {
    background-color: rgb(226, 34, 34);
    font-size: 12px;
    padding: 2px;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}

.menuItem:hover {
    background-color: #1465bb;
}

.menuOpen {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btnButton {
    display: none;
} 
 
@media(max-width: 600px) {
    .header {
        padding: 10px 30px;
    }

    .menu {
        display: none;
    }

    .menuOpen {
        height: 100vh;
        flex-direction: column;
        align-items: center;
        padding-top: 80px !important;
        position: absolute;
        width: 100%;
        right: 0;
        padding: 10px 0 20px 0;
        z-index: 1000;
        background-color: rgb(63, 43, 83);
    }

    .menuItem {
        border-bottom: 1px solid #1465bb;
    }

    .user {
        border-bottom: 1px solid #1465bb;
    }

    .modalProfile {
        width: 200px;
        height: 200px;
        background-color: blueviolet;
        position: absolute;
        right: -80px;
        top: 30px;
        border-radius: 3px;
    }

    .btnButton {
        color: whitesmoke;
        display: block;
        border-top: 2px solid;
        width: 20px;
    }

    .btnButton::after, .btnButton::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
    }
}
