.main {
    width: 80%;
    margin: 80px auto 100px auto;
}

.containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1 {
    font-size: 1.3em;
    width: 800px;
    line-height: 26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.searchStore {
    margin-top: 20px;
    width: 600px;
    position: relative;
    font-size: 14px;
}

.searchStore input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px 5px 38px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(137, 43, 226, 0.05);
    transition: 0.2s all ease-in;
}

.searchStore input:hover {
    box-shadow: 0px 0px 1px 1px rgb(118, 75, 161);
}

.searchStore i {
    position: absolute;   
    top: 9px; 
    left: 14px;
    color: rgb(108, 70, 146);
    font-weight: bold;
}

.stores {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    justify-items: center;
}

.store {
    width: 200px;
    height: max-content;
    background-color: whitesmoke;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
}

.store img:hover {
    transition: .3s all ease-in;
}

.store img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.bodyStore {
    display: flex;
    flex-direction: column;
    gap: .2em;
    align-items: center;
    text-align: justify;
    font-size: 14px;
    padding: 10px;
}

.bodyStore h1 {
    font-weight: bold;
    font-size: 1.2em;
    width: max-content;
}

p.storeDescription {
    line-height: 18px;
}

p.storeAddress {
    display: flex;
    gap: .5em;
    align-items: center;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.8);
}

p.storeAddress i {
    color: rgb(221, 58, 58);
}

a.readMoreLink {
    color: rgb(48, 98, 189);
    transition: .2s all ease-in;
}

a.readMoreLink:hover {
    color: rgba(48, 97, 189, 0.7);
}

a.storeDetailButton {
    margin-top: 6px;
    background-color: rgb(108, 70, 146);
    color: white;
    padding: 2px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    transition: .2s all ease-in;
}

a.storeDetailButton:hover {
    background-color: rgba(108, 70, 146, 0.8);
}

@media(max-width: 1130px) {
    .main {
        width: 90%;
    }

    .stores {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em 1em;
    }

    .store {
        width: 250px;
    }
}

@media(max-width: 900px) {
    .stores {
        grid-template-columns: 1fr 1fr;
    }

    .store {
        width: 250px;
    }
}

@media(max-width: 580px) {
    .stores {
        grid-template-columns: 1fr;
    }

    .store {
        width: 250px;
    }
}