.bagProducts {
    width: 90%;
    display: flex;
    gap: 4em;
    margin: 135px auto;
    flex-direction: column;
}

.numberProducts {
    text-align: center;
}

.bag {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

@media(max-width: 1160px) {
    .bag {
        grid-template-columns: 1fr 1fr;
    }   
}

@media(max-width: 1160px) {
    .bag {
        grid-template-columns: 1fr;
    }   
}