.product {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    border-radius: 5px;
    padding: 10px 15px;
}

@media(max-width: 850px) {
    .product {
        width: 95%;
    }
}

.product img {
    width: 30px;
}

.leftInfos {
    display: flex;
    align-items: center;
    gap: 1em;
}

.sizeProduct {
    text-transform: uppercase;
}

.valueProduct {
    font-size: 15px;
}