.bag-product {
    height: 120px;
    width: max-content;
    display: flex;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(137, 43, 226, .3);
    background-color: whitesmoke;
}

.bag-product-image {
    height: 100%;
    width: 100px;
}

.bag-product-body {
    padding: 10px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    font-size: 14px;
    font-weight: bold;
}

.product-button {
    color: rgb(211, 38, 38);
    cursor: pointer;
    width: max-content;
}

.product-button:hover {
    text-decoration: underline;
}

