#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 3em;
}

.card-services {
    display: grid;
    gap: 2em;
    grid-template-areas: 
    'one two three'
    'four five six';
}

.card {
    width: 300px;
    height: 150px;
    background-color: black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}


#one {
    grid-area: one;
    background-image: url('../img/modelo-de-planejamento-de-vendas.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#two {
    grid-area: two;
    background-image: url('../img/critic-puts-fifth-star-concept-rating-hotels-restaurants_72572-1201.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#three {
    grid-area: three;
    background-image: url('../img/download.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#four {
    grid-area: four;
    background-image: url('../img/62e99d272c0edad15ccf84195f7664a4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#five {
    grid-area: five;
    background-image: url('../img/user-experience-interface-intuitiva.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#six {
    grid-area: six;
    background-image: url('../img/inventario-da-empresa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.effect-glassmorfhism {
    text-align: center;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.effect-glassmorfhism h4 {
    font-weight: bold;
    padding-top: 10px;
    color: white;
}

.effect-glassmorfhism p {
    margin-top: 15px;
    color: whitesmoke;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media(max-width: 1150px) {
    .card-services {
        display: grid;
        grid-column-gap: 3em;
        grid-template-areas: 
        'one two'
        'three four'
        'five six';
    }
}

@media(max-width: 800px) {
    .card-services {
        display: grid;
        grid-column-gap: 3em;
        grid-template-areas: 
        'one'
        'two'
        'three'
        'four'
        'five'
        'six';
    }
}

@media(max-width: 400px) {
    .card {
        width: 100%;
    }
}
