div.profile {
    width: 90%;
    margin: 0 auto 60px auto;
    display: flex;
    gap: 5em;

    .aside-profile {
        border-right: 1px solid rgba(0, 0, 0, .3);
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

        .profile-infos {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 2em;

            .top-infos {
                display: flex;
                flex-direction: column;

            }

            .top-infos h1 {
                font-weight: bold;
                line-height: 15px;
            }
            
            .top-infos small.store-name {
                margin-top: 5px;
            }

            .top-infos a {
                color: rgb(23, 104, 180);
                font-size: 14px;
                font-weight: bold;
            }

            .ranking-infos {
                p {
                    font-size: 14px;
                }
            }

            .social-medias {
                display: flex;
                justify-content: center;
                gap: 1em;
                font-size: 1.5em;
                
                i {
                    cursor: pointer;
                }
   
                .fa-instagram {
                    color: #e43daf;
                }
                
                .fa-github {
                    color: rgba(0, 0, 0, 0.85);
                }

                .fa-facebook {
                    color: #3b5998;
                }
            }
        }
    }

    .main-profile {
        width: 700px;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}
