main.profile {
    width: 90%;
    margin: 0 auto 300px auto;

    .aside-profile {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

        .profile-infos {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 2em;

            .title {
                h1 {
                    font-weight: bold;
                    line-height: 15px;
                }
            }

            .ranking-infos {
                p {
                    font-size: 14px;
                }
            }

            .social-medias {
                display: flex;
                justify-content: center;
                gap: 1em;
                font-size: 1.5em;
                
                i {
                    cursor: pointer;
                }

                .fa-instagram {
                    color: #e43daf;
                }
                
                .fa-github {
                    color: rgba(0, 0, 0, 0.85);
                }

                .fa-facebook {
                    color: #3b5998;
                }
            }
        }
    }
}
