.header {
    margin-bottom: 100px;
}

.products {
    width: 80%;
    margin: 0 auto 100px auto;
}

.profileLeft {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

@media(max-width: 370px) {
    .profileLeft {
        flex-direction: column;
    }
}

.evaluateDealer {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: .5em;
    position: absolute;
    right: 0;
}

@media(max-width: 1120px) {
    .evaluateDealer {
        position: relative;
    }
}

.evaluateDealerTitle {
    color: rgb(118, 54, 158);
    font-weight: bold;
    font-size: 14px;
    width: max-content;
    margin: 0 auto;
}

.evaluateDealerForm {
    display: none;
    gap: 10px;
    flex-direction: column;
}

.evaluateDealerField {
    color: rgba(0, 0, 0, .7);
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 1px;
    background-color: whitesmoke;
    box-shadow: 0 0 0 1px rgba(136, 14, 206, 0.2);
    transition: .3s all ease-in;
}

.evaluateDealerField:hover {
    box-shadow: 0 0 3px 1px rgba(136, 14, 206, 0.8);
}

.evaluateDealerButton {
    background-color: rgb(118, 54, 158);
    font-size: 12px;
    color: white;
    font-weight: bold;
    width: max-content;
    padding: 2px 10px;
    border-radius: 2px;
    transition: .1s all ease-in;
}

.evaluateDealerButton:hover {
    background-color: rgb(150, 75, 197);
}

@media(max-width: 450px) {
    .products {
        width: 95%;
        margin: 0 auto 100px auto;
    }
}

.formSearchProduct {
    margin-bottom: 30px;
    position: relative;
}

.formSearchProduct input {
    padding: 7px 12px;
    color: rgba(0, 0, 0, .7);
    width: 500px;
    border-radius: 3px;
    font-size: 14px;
    background-color: rgba(47, 118, 160, 0.05);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    transition: .2s all ease-in;
}

.formSearchProduct input:hover {
    box-shadow: 0px 0px 3px 1px rgba(47, 118, 160, 0.6);
}

.formSearchProduct i {
    position: absolute;
    left: 472px;
    top: 9px;
    color: rgba(0, 0, 0, 0.438);
}

.container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 20px;
    justify-content: center;
}

@media(max-width: 900px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 650px) {
    .formSearchProduct input {
        width: 300px;
    }

    .formSearchProduct i {
        left: 270px;
    }
}

@media(max-width: 380px) {
    .formSearchProduct input {
        width: 260px;
    }

    .formSearchProduct i {
        left: 230px;
    }
}