@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    background-color: transparent;
}

a {
    text-decoration: none;
}

@layer utilities {
    .w-300 {
      width: 300px;
    }
}